absl-py==0.10.0
astunparse==1.6.3
biopython==1.78
boto3==1.14.60
botocore==1.17.60
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
cloudpickle==1.3.0
cma==3.0.3
decorator==4.4.2
dm-tree==0.1.5
docutils==0.15.2
editdistance==0.5.3
-e git+git@github.com:samsinai/FLSD-Sandbox.git@fbb918c71f5991eb3cea756ba8dc254c3fa3ccd3#egg=flexs
future==0.18.2
gast==0.3.3
gin-config==0.3.0
google-auth==1.21.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
idna==2.10
importlib-metadata==1.7.0
jmespath==0.10.0
joblib==0.16.0
Keras-Preprocessing==1.1.2
lmdb==1.0.0
Markdown==3.2.2
numpy==1.19.2
oauthlib==3.1.0
opt-einsum==3.3.0
pandas==1.1.2
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
s3transfer==0.3.3
scikit-learn==0.23.2
scipy==1.5.2
six==1.15.0
tape-proteins==0.4
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorboardX==2.1
tensorflow==2.3.0
tensorflow-estimator==2.3.0
tensorflow-probability==0.11.0
termcolor==1.1.0
tf-agents==0.6.0
threadpoolctl==2.1.0
torch==1.6.0
tqdm==4.48.2
urllib3==1.25.10
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.1.0
