absl-py==0.10.0
aiohttp==3.6.2
alabaster==0.7.12
ApiDoc==1.4.0
appdirs==1.4.3
astunparse==1.6.3
async-timeout==3.0.1
attrs==20.2.0
Babel==2.8.0
biopython==1.78
black==20.8b1
boto3==1.15.11
botocore==1.18.11
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cloudpickle==1.3.0
cma==3.0.3
decorator==4.4.2
dm-tree==0.1.5
docutils==0.16
editdistance==0.5.3
flake8==3.8.4
flake8-black==0.2.1
flake8-docstrings==1.5.0
-e git+https://github.com/samsinai/FLEXS.git@2e4a5a18234fed6d0f401cab45ef424ac9737632#egg=flexs
future==0.18.2
gast==0.3.3
gin-config==0.3.0
google-auth==1.22.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
idna==2.10
imagesize==1.2.0
importlib-metadata==2.0.0
iniconfig==1.0.1
isort==5.5.4
Jinja2
jmespath==0.10.0
joblib==0.17.0
jsonschema==2.4.0
Keras-Preprocessing==1.1.2
lmdb==1.0.0
m2r==0.2.1
Markdown==3.2.2
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.5.0
multidict==4.7.6
mypy-extensions==0.4.3
numpy==1.19.2
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.2
pathspec==0.8.0
pip==20.2.3
pluggy==0.13.1
protobuf==3.13.0
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pydocstyle==5.1.1
pyflakes==2.2.0
Pygments==2.7.1
pyparsing==2.4.7
pytest==6.1.1
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.1
regex==2020.9.27
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
s3transfer==0.3.3
scikit-learn==0.23.2
scipy==1.5.2
setuptools==49.6.0
six==1.15.0
snowballstemmer==2.0.0
Sphinx==2.4.4
sphinx-autodoc-typehints==1.11.0
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tape-proteins==0.4
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorboardX==2.1
tensorflow==2.3.1
tensorflow-estimator==2.3.0
tensorflow-probability==0.11.1
termcolor==1.1.0
tf-agents==0.6.0
threadpoolctl==2.1.0
toml==0.10.1
torch==1.6.0
tqdm==4.50.0
typed-ast==1.4.1
typing-extensions==3.7.4.2
urllib3==1.25.10
Werkzeug==1.0.1
wheel==0.35.1
wrapt==1.12.1
yarl==1.6.0
zipp==3.3.0
